<% provide(:title, "Home") %>
<h1>Semantic Model Messaging</h1>
<div class="center jumbotron">
  <h2>Register or Sign Up</h2>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>