<div class="item" id="course-<%= course.id %>">
  <div class="content">
    <a class="header">
      <%= course.name %>
      <% if has_file? course.concepts %>
        <div class="ui label">
          <%= course.domain %>
        </div>
      <% end %>
    </a>
  </div>
</div>