<div class="item" id="course-<%= course.id %>">
  <div class="content">
    <a class="header">
      <%= course.name %>
      <% if !course.concept.nil? %>
        <div class="ui label">
        </div>
      <% end %>
    </a>
  </div>
</div>