<header class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Semantic Models</a>
  </div>
  <ul class="nav navbar-nav">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Sign Up", signup_path %></li>
  </ul>
</header>